body{
    background-color: #141414;
    color:#FFFFFF;
    background-image: url(bg5.jpeg);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#title{
    color: red;
    text-align: left;
    font-size: 36px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.text1 {
    text-align: center;
    margin-top: 50px;
  }
  
  .text1 h2 {
    font-size: 62px;
    color: white;
    margin-bottom: 10px;
  }
  
.text1 p {
    font-size: 28px;
    color: white;
    margin-bottom: 70px;
}

#who{
    font-size: 48px;
    color:white;
    text-align:center;

}
#imagelogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


